/* Archive Header
--------------------------------------------- */

.archive-header {
	background: var(--wp--preset--color--background);
	padding: var(--wp--custom--layout--block-gap) 0;
}

.archive-header h1 {
	margin: 0;
	font-size: var(--wp--preset--font-size--large);
}

.archive-description > *:first-child {
	margin-top: 0;
}

.archive-description > *:last-child {
	margin-bottom: 0;
}

.archive-header .breadcrumb {
	margin-bottom: var(--wp--custom--layout--block-gap-large);
}
